/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {



}

/* Medium Devices, Desktops */
@media only screen and (max-width : 990px) {
nav#navigat {left: -250px; 
			-webkit-transition: left 1s linear 0.5s;
     -moz-transition: left 1s linear 0.5s;
     -o-transition: left 1s linear 0.5s;
     transition: left 1s linear 0.5s;}

section#slider {width: 100%; left: 0; height: 50vh;}
section#partners {width: 100%; left: 0; height: 50vh;}
section#partners .container {padding: 0;}
section#partners img { text-align:center; }
#sandwich {display: block;}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 640px) {
	
	
	

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	
						
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 360px) {
	
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
/**/
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}