body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  background-color: #fff; }

div.container-fluid {
  padding: 0; }

nav#navigat {
  display: block;
  position: fixed;
  left: 0;
  border-right: 1px solid #ccc;
  width: 250px;
  height: 100vh;
  padding: 0;
  z-index: 100;
  background-color: white; }
  nav#navigat div.logo {
    margin: 20% 5% 0 0; }
  nav#navigat input {
    margin: 50% 0 0 0;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccc;
    height: 40px;
    width: 100%;
    padding-left: 5%; }
  nav#navigat div.menu {
    position: relative;
    display: block;
    padding: 10% 5% 0 5%; }
    nav#navigat div.menu ul {
      width: 100%;
      padding: 0; }
      nav#navigat div.menu ul li {
        list-style-type: none;
        margin-bottom: 5%; }
      nav#navigat div.menu ul li:last-child {
        color: orange; }
  nav#navigat .glyphicon {
    float: right;
    font-size: 15px; }

section#slider {
  position: relative;
  left: 250px;
  display: block;
  width: 84%;
  height: 60vh;
  padding: 0; }
  section#slider div.togg {
    display: block;
    width: auto;
    height: auto;
    position: fixed;
    background-color: transparent;
    z-index: 99;
    left: 90%;
    top: 5%; }
  section#slider .container {
    width: 100%; }
  section#slider .col-md-8 {
    width: 100%;
    padding: 0; }
  section#slider .carousel-indicators {
    text-align: right; }

section#partners {
  position: relative;
  left: 250px;
  display: block;
  width: 84%;
  height: 12vh;
  background-color: #f9f9fa;
  padding: 1% 0 1% 0; }
  section#partners img {
    height: 40px;
    width: auto;
    opacity: 0.8; }
  section#partners img:hover {
    opacity: 1; }

section#engage {
  position: relative;
  padding: 0 15% 0 30%;
  text-align: center;
  margin-top: 5%; }
  section#engage h2 {
    font-size: 3em;
    font-weight: 700; }
    section#engage h2 span {
      font-weight: 100; }
  section#engage p {
    font-size: 1.2em; }

section#managet {
  clear: both;
  position: relative;
  display: block;
  width: 100%;
  height: 60vh;
  padding: 0 15% 0 30%; }
  section#managet ul {
    padding: 0; }
  section#managet li.inft {
    list-style-type: none;
    display: block;
    width: 79px;
    height: 72px;
    background: -webkit-linear-gradient(bottom, #916997, #d39fdb);
    background: -o-linear-gradient(bottom, #916997, #d39fdb);
    background: linear-gradient(to top, #916997, #d39fdb);
    cursor: pointer; }
  section#managet li.active {
    background: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc; }
  section#managet div.inf {
    display: none; }
  section#managet div.suli {
    display: block;
    position: absolute;
    left: -55px;
    width: 120vh;
    height: 48vh;
    border: 1px solid #ccc;
    position: absolute; }
    section#managet div.suli h2 {
      padding: 5% 0 0 5%; }
    section#managet div.suli p {
      padding-left: 5%;
      padding-right: 5%; }
    section#managet div.suli button {
      margin: 10% 0 0 5%;
      width: 150px;
      height: 40px;
      border-radius: 0;
      border: 1px solid black; }

#sandwich {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 70px;
  left: 0;
  right: 0;
  margin: auto;
  display: none; }

.sw-topper {
  position: relative;
  top: 15px;
  width: 40px;
  height: 3px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s; }

.sw-bottom {
  position: relative;
  width: 40px;
  height: 3px;
  top: 20px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: transform 0.5s, top 0.2s;
  transition-delay: 0.2s, 0s; }

.sw-footer {
  position: relative;
  width: 40px;
  height: 3px;
  top: 25px;
  background: white;
  border: none;
  border-radius: 4px 4px 4px 4px;
  transition: all 0.5s;
  transition-delay: 0.1s; }

#sandwich.active .sw-topper {
  top: 15px;
  transform: rotate(140deg); }
#sandwich.active .sw-bottom {
  top: 5px;
  transform: rotate(-140deg); }
#sandwich.active .sw-footer {
  opacity: 0;
  top: 0;
  transform: rotate(180deg); }

/*# sourceMappingURL=style.css.map */
